.posterSlide {
  height: 100%;
  overflow: hidden; }
  .posterSlide__image {
    width: 100%;
    height: 100%; }
  .posterSlide__dots {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 20px; }
    .posterSlide__dots li {
      display: inline-block;
      list-style: none;
      width: 8px;
      height: 8px; }
      .posterSlide__dots li:nth-child(n + 2) {
        margin-left: 10px; }
      .posterSlide__dots li::before {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        background-color: rgba(255, 255, 255, 0.6); }
      .posterSlide__dots li.slick-active::before {
        background-color: #fff; }
      .posterSlide__dots li button {
        font-size: 0;
        line-height: 0;
        color: transparent; }
